body{
	height:900px;
	background-color:#F7E6E6
}
.bold{
	font-weight:bold
}
.navbar{
	background-color:#E8CFCF;
	height:60px;
	padding-top:5px
}
#alpha{
	font-size:3.2em;
	font-style:italic;
	padding:8px 3px 5px 35px
}			
#title{				
	font-size:1.8em				
}
#myNavbar{
	font-size:1.2em
}
#topMenu{
	margin-right:10px
}
#topMenu a{
	padding:0 0 7px 0;
	margin:15px 27px 0 0				
}			
#topMenu a:hover,#topMenu a.active{
	background-color:#E8CFCF;
	color:black;
	border-bottom:2px solid black
}
#signin{
	margin-right:20px;	
}
.row{
	margin-top:100px
}
#page-left{
	text-align:center
}
#page-right h1{
	text-align:center;
	text-transform:uppercase;
	color:black
}
#page-right p{
	text-indent: 50px;
	text-align: justify;
	letter-spacing: 3px
}
#cardinal{
	margin-top:60px
}
#about p{
	text-indent: 50px;
	text-align: justify;
	letter-spacing: 3px
}
#about_pic{
	text-align:center
}
#about_pic img{	
	width:600px;
	margin-top:35px
}
