<h2 align="center">Edit existing article</h2>

<% if @article.errors.any? %>
  <h3>The following errors prevented these article updates:</h3>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>
