<!doctype html>
<html lang="en">
	<head>
		<title>alpha blog</title>

		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/alpha_blog.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>	
	</head>
	
	<body>
		<div class="container">
			<nav class="navbar navbar-default navbar-fixed-top bold">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span> 
						</button>
						<a class="navbar-brand" id="alpha" href="#">&alpha;</a>
						<a class="navbar-brand" id="title" href="#"><strong>lpha </strong><small>blog</small></a>
					</div>
				
					<div class="collapse navbar-collapse navbar-right" id="myNavbar">
						<ul class="nav navbar-nav" id="topMenu">
							<li><a href="index.html">home</a></li>
							<li><a href="about.html">about</a></li> 
							<li><a href="blog.html">blog</a></li>
							<li><a class="active" href="archive.html">archive</a></li> 
						</ul>
						<ul class="nav navbar-nav navbar-right">					
							<li id="signin"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
						</ul>
					</div>			  
				</div>
			</nav>		
		
			<div class="row">				
				<div class="col-md-8 col-md-offset-2" id="about">
					<h1>TBD</h1>
					
				</div>				
			</div>
		</div>		
	</body>
</html>